@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(157, 208, 248);
  color: rgb(0, 97, 177);
  text-align: center;
  margin-top: 100px;
}

.navbar-dark .navbar-brand {
  font-family: "Oregano", cursive !important;
  color: rgb(36, 122, 243);
  font-weight: 900;
  font-size: 2em;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }

  .fa {
    margin: 15px;
    display: flex;
    display: inline-block;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#view {
  width: 90%;
  margin: auto;

  .details {
    min-width: 50%;
    max-width: 60%;
  }

  .definition {
    white-space: pre-wrap;
  }
}
